$green: #1fac1f;

.h-vh-full {
    height: 100vh;
}

.h-150px {
    height: 250px;
}

.w-300px {
    width: 300px;
}

.text-green {
    color: $green !important;
}

.bg-green {
    background-color: $green !important;
}

.btn-green {
    border: 0 !important;
    background-color: $green !important;

    &:hover {
        filter: brightness(85%);
    }
}